*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box_container{
  width: 33vw;
  height: 100vh;
  margin: 0 auto;
}

.quadratini{
  width: 60px;
  height: 60px;
  background: white;
  border: 2px solid;
  float: left;
  margin-top:-2px;
  margin-left:-2px;
}

.red{
  background: red;
}

.green{
  background: green;
}

#contatore{
  color: white;
  width: 91%;
  height: 80px;
  background: #cecece;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
}
